body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.landing {
  background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  background-size: cover;
  background-position: center;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
}

.landing h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.landing p {
  max-width: 500px;
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.landing button {
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.landing button:hover {
  background-color: darkgreen;
}